.sponsors-container {
    display: flex;
    justify-content: space-between;
    margin-top: -150px; /* Adjust this value based on the image height */
  }
  
  .sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sponsors img {
    width: 50px; /* Reduce the size by 50% */
    height: 50px;
    margin: 10px 0;
  }
  